@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Medium.woff2") format("woff2"), url("../assets/fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Regular.woff2") format("woff2"), url("../assets/fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Light.woff2") format("woff2"), url("../assets/fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Bold.woff2") format("woff2"), url("../assets/fonts/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../assets/fonts/Quicksand-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  position: relative;
  background: #f2f3f7;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.button {
  border: 2px solid #f4924b;
  padding: 13px 45px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background: #f4924b;
  color: #fff;
}

.top-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 20px;
}
.top-title::before {
  content: "";
  width: 30px;
  background: #f4924b;
  height: 2px;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 20px;
  color: #51565D;
  font-weight: 500;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1024px) {
  header {
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease-in-out;
  }
}
header .header-content {
  justify-content: space-between;
  align-items: center;
}
header .header-content .logo {
  margin: 13px 0;
}
@media (max-width: 1023px) {
  header .header-content .logo {
    max-width: 120px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  header .header-content .logo img {
    filter: brightness(15);
  }
}
header .header-content .nav-link .cross .fa-solid {
  color: #fff;
  position: absolute;
  right: 60px;
  font-size: 46px;
  top: 20px;
}
@media (max-width: 481px) {
  header .header-content .nav-link .cross .fa-solid {
    right: 20px;
  }
}
@media (min-width: 1024px) {
  header .header-content .nav-link .cross {
    display: none;
  }
}
@media (max-width: 1023px) {
  header .header-content .nav-link {
    display: none;
  }
}
@media (max-width: 1023px) {
  header .header-content .nav-link ul {
    display: block;
  }
}
header .header-content .nav-link ul a {
  font-size: 14px;
  padding: 5px 0;
  margin: 0 8.5px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
header .header-content .nav-link ul a:hover {
  color: #f4924b;
  border-bottom: 2px solid #f4924b;
}
@media (min-width: 1024px) {
  header .header-content .menu {
    display: none;
  }
}
header .header-content .menu .fa-solid {
  color: #000;
  font-size: 35px;
}
@media (max-width: 1023px) {
  header .active .nav-link {
    display: block;
    position: absolute;
    top: 0;
    background: #000;
    width: 100%;
    padding: 70px;
    right: 0;
    height: 100vh;
  }
  header .active .nav-link ul {
    padding: 50px;
  }
  header .active .nav-link ul li {
    margin-bottom: 10px;
  }
  header .active .nav-link ul li a {
    font-size: 25px;
  }
}
@media (max-width: 481px) {
  header .active .nav-link {
    padding: 20px;
    padding-top: 40px;
  }
  header .active .nav-link ul {
    padding: 10px;
  }
}

@media (max-width: 1023px) {
  header {
    background: #fff;
  }
}

header.scroll {
  transition: all 0.5s ease-in-out;
  background: #fff;
}
header.scroll .header-content .logo img {
  filter: brightness(1);
}
header.scroll .nav-link ul a {
  color: #000;
}

.hero-banner {
  position: relative;
}
@media (max-width: 481px) {
  .hero-banner {
    margin-top: 80px;
  }
}
.hero-banner .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}
.hero-banner .owl-dots .owl-dot {
  margin-right: 15px;
}
.hero-banner .owl-dots .owl-dot span {
  width: 4px;
  height: 4px;
  padding: 4px;
  margin: 4px;
}
.hero-banner .owl-dots .active {
  border: 2px solid #f4924b;
  border-radius: 100%;
}
.hero-banner .owl-dots .active span {
  background: #f4924b !important;
}

.about-safari-content {
  margin: 50px 0;
}
.about-safari-content .safari-content {
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .about-safari-content .safari-content {
    display: block;
  }
}
@media (min-width: 1024px) {
  .about-safari-content .safari-content .left {
    width: 30%;
  }
}
.about-safari-content .safari-content .left .about {
  font-size: 12px;
  color: #848484;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about-safari-content .safari-content .left .about::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f4924b;
}
.about-safari-content .safari-content .left .title-text {
  font-size: 40px;
}
@media (max-height: 1023px) {
  .about-safari-content .safari-content .left .title-text {
    margin-bottom: 20px;
  }
}
@media (max-width: 481px) {
  .about-safari-content .safari-content .left .title-text {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .about-safari-content .safari-content .left .title-text {
    font-size: 20px;
  }
}
.about-safari-content .safari-content .left .title-text span {
  font-weight: bold;
  color: #28303d;
}
.about-safari-content .safari-content .left .button {
  margin-top: 15px;
}
@media (max-width: 1023px) {
  .about-safari-content .safari-content .left .button {
    display: none;
  }
}
@media (min-width: 1024px) {
  .about-safari-content .safari-content .right {
    width: 65%;
  }
}
.about-safari-content .safari-content .right .title {
  padding-bottom: 10px;
}
.about-safari-content .safari-content .right span {
  color: #161616;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .about-safari-content .safari-content .right .button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .bandhavgarh .bandhavgarh-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.bandhavgarh .bandhavgarh-content .left-col {
  background: #2c462b;
  z-index: 99;
  padding: 50px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .bandhavgarh .bandhavgarh-content .left-col {
    margin-right: -75px;
    margin-top: 50px;
    margin-bottom: -50px;
  }
}
@media (max-width: 321px) {
  .bandhavgarh .bandhavgarh-content .left-col {
    padding: 20px;
  }
}
.bandhavgarh .bandhavgarh-content .left-col span {
  font-weight: bold;
}
.bandhavgarh .bandhavgarh-content .left-col p {
  color: #fff;
}
@media (max-width: 1280px) {
  .bandhavgarh .bandhavgarh-content .left-col p {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
.bandhavgarh .bandhavgarh-content .left-col .top-about {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.bandhavgarh .bandhavgarh-content .left-col .top-about::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f4924b;
}
.bandhavgarh .bandhavgarh-content .left-col .title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}
@media (max-width: 481px) {
  .bandhavgarh .bandhavgarh-content .left-col .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .bandhavgarh .bandhavgarh-content .left-col .title {
    font-size: 20px;
  }
}
.bandhavgarh .bandhavgarh-content .left-col .paragraph {
  line-height: 1.7;
}
.bandhavgarh .bandhavgarh-content .left-col .desc {
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .bandhavgarh .bandhavgarh-content .right-col {
    height: 350px;
  }
  .bandhavgarh .bandhavgarh-content .right-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.beautiful-places {
  margin: 100px 0;
}
@media (max-width: 481px) {
  .beautiful-places {
    margin: 50px 0;
  }
}
.beautiful-places span {
  font-weight: bold;
}
.beautiful-places .places {
  margin-bottom: 20px;
}
.beautiful-places .places .about {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  color: #848484;
}
.beautiful-places .places .about::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f4924b;
}
.beautiful-places .places .title {
  font-size: 40px;
  color: #28303d;
}
@media (max-width: 481px) {
  .beautiful-places .places .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .beautiful-places .places .title {
    font-size: 20px;
  }
}
.beautiful-places .places-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .beautiful-places .places-content {
    display: grid;
  }
}
.beautiful-places .places-content .content {
  padding: 67px 40px 47px 40px;
}
@media (max-width: 320px) {
  .beautiful-places .places-content .content {
    padding: 20px;
  }
}
@media (min-width: 791px) {
  .beautiful-places .places-content .left-col,
  .beautiful-places .places-content .right-col {
    width: 46%;
  }
}
.beautiful-places .places-content .left-col {
  min-height: 520px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 791px) {
  .beautiful-places .places-content .left-col {
    order: 1;
  }
}
.beautiful-places .places-content .left-col::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.beautiful-places .places-content .left-col .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9;
  object-position: top center;
}
.beautiful-places .places-content .left-col .title {
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}
@media (max-width: 321px) {
  .beautiful-places .places-content .left-col .title {
    font-size: 20px;
  }
}
.beautiful-places .places-content .left-col .description {
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 20px;
}
.beautiful-places .places-content .left-col .btn {
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.beautiful-places .places-content .left-col .btn:hover {
  color: #f4924b;
}
.beautiful-places .places-content .left-col .btn::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -8px;
  display: block;
  background: #f4924b;
  transition: all 0.3s ease-in-out;
}
.beautiful-places .places-content .left-col .btn:hover::after {
  width: 100%;
}
.beautiful-places .places-content .right-col .title {
  font-size: 30px;
  margin-bottom: 16px;
}
@media (max-width: 321px) {
  .beautiful-places .places-content .right-col .title {
    font-size: 20px;
  }
}
.beautiful-places .places-content .right-col .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: #51565D;
  margin-bottom: 20px;
}
@media (max-width: 790px) {
  .beautiful-places .places-content .right-col {
    margin-bottom: 30px;
  }
}

.tiger-types .tiger-type-header {
  margin-bottom: 50px;
}
.tiger-types .tiger-type-header span {
  font-weight: bold;
}
.tiger-types .tiger-type-header .title {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .title {
    display: block;
  }
}
.tiger-types .tiger-type-header .title .left .top_tiger {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #848484;
  margin-bottom: 10px;
}
.tiger-types .tiger-type-header .title .left .top_tiger::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f4924b;
}
.tiger-types .tiger-type-header .title .left .title {
  font-size: 40px;
  text-transform: uppercase;
  color: #28303d;
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .title .left .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .tiger-types .tiger-type-header .title .left .title {
    font-size: 20px;
  }
}
.tiger-types .tiger-type-header .title .right {
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .title .right {
    display: none;
  }
}
.tiger-types .tiger-type-header .title .right h4 {
  font-size: 18px;
  font-weight: 700;
  color: #28303d;
}
.tiger-types .tiger-type-header .title .right h5 {
  font-size: 46px;
  color: #f4924b;
  font-weight: 700;
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .title .right h5 {
    font-size: 35px;
  }
}
.tiger-types .tiger-type-header .title .left,
.tiger-types .tiger-type-header .title .right {
  width: calc((100% - 10px) / 2);
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .title .left,
  .tiger-types .tiger-type-header .title .right {
    width: 100%;
  }
}
.tiger-types .tiger-type-header .tiger-type-section {
  justify-content: space-between;
}
.tiger-types .tiger-type-header .tiger-type-section .type {
  width: calc((100% - 15px) / 4);
  height: 400px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media (max-width: 790px) {
  .tiger-types .tiger-type-header .tiger-type-section .type {
    width: calc((100% - 20px) / 2);
    margin-bottom: 20px;
  }
}
@media (max-width: 481px) {
  .tiger-types .tiger-type-header .tiger-type-section .type {
    width: 100%;
  }
}
.tiger-types .tiger-type-header .tiger-type-section .type:hover .desc {
  top: inherit;
  bottom: 25px;
}
.tiger-types .tiger-type-header .tiger-type-section .type:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(48, 227, 202, 0.2);
  z-index: 1;
}
.tiger-types .tiger-type-header .tiger-type-section .type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -3;
}
.tiger-types .tiger-type-header .tiger-type-section .type .desc {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #fff;
  z-index: 2;
  top: calc(100% - 70px);
  transition: all 0.3s ease-in-out;
}
.tiger-types .tiger-type-header .tiger-type-section .type .desc .num {
  font-size: 20px;
  font-weight: 300;
}
.tiger-types .tiger-type-header .tiger-type-section .type .desc .name {
  font-weight: 700;
  margin-bottom: 20px;
}
.tiger-types .tiger-type-header .tiger-type-section .type .desc .description {
  font-weight: 500;
}

.highlight-tour .highlight-section {
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  .highlight-tour .highlight-section .left-col {
    height: 350px;
    margin-bottom: 20px;
  }
  .highlight-tour .highlight-section .left-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
@media (min-width: 1024px) {
  .highlight-tour .highlight-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
}
.highlight-tour .highlight-section .right-col {
  padding: 50px;
  color: #fff;
  background: #2c462b;
}
@media (max-width: 481px) {
  .highlight-tour .highlight-section .right-col {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .highlight-tour .highlight-section .right-col {
    margin-left: -75px;
    margin-top: 50px;
    margin-bottom: -50px;
  }
}
.highlight-tour .highlight-section .right-col .top-title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
}
.highlight-tour .highlight-section .right-col .top-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f4924b;
}
.highlight-tour .highlight-section .right-col .title {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 321px) {
  .highlight-tour .highlight-section .right-col .title {
    font-size: 20px;
  }
}
.highlight-tour .highlight-section .right-col .title span {
  font-weight: bold;
}
.highlight-tour .highlight-section .right-col p {
  color: #fff;
}
@media (max-width: 1280px) {
  .highlight-tour .highlight-section .right-col p {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.explore {
  background: url("../assets/info-block-image.jpg");
  background-position: center center;
  position: relative;
}
.explore::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(40, 47, 52, 0.7);
}
.explore .explore-section {
  width: 80%;
  position: relative;
  padding: 140px 0;
  color: #fff;
}
@media (max-width: 481px) {
  .explore .explore-section {
    padding: 50px 0;
  }
}
@media (max-width: 481px) {
  .explore .explore-section {
    width: 100%;
  }
}
.explore .explore-section p {
  color: #fff;
}
.explore .explore-section span {
  font-weight: bold;
}
.explore .explore-section .top-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}
.explore .explore-section .top-title::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #f4924b;
}
.explore .explore-section .title {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 200;
}
@media (max-width: 481px) {
  .explore .explore-section .title {
    font-size: 30px;
  }
}
.explore .explore-section .button {
  margin-top: 20px;
  color: #fff;
}
.explore .explore-section .paragraph {
  line-height: 1.7;
}

.itinerary {
  margin: 50px 0;
}
.itinerary .itinerary-section {
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .itinerary .itinerary-section {
    display: block;
  }
}
.itinerary .itinerary-section span {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .itinerary .itinerary-section .left {
    width: 55%;
  }
}
@media (max-width: 1023px) {
  .itinerary .itinerary-section .left {
    margin-bottom: 50px;
  }
}
.itinerary .itinerary-section .left .top {
  padding: 50px 0;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .top {
    padding: 20px 0;
  }
}
.itinerary .itinerary-section .left .top .top-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}
.itinerary .itinerary-section .left .top .top-title::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #f4924b;
}
.itinerary .itinerary-section .left .top .heading-title {
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .top .heading-title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .itinerary .itinerary-section .left .top .heading-title {
    font-size: 20px;
  }
}
.itinerary .itinerary-section .left .travels .travel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel {
    display: block;
  }
}
.itinerary .itinerary-section .left .travels .travel .image {
  position: relative;
}
.itinerary .itinerary-section .left .travels .travel .image::before {
  content: "";
  display: block;
  padding-top: 60%;
}
.itinerary .itinerary-section .left .travels .travel .image img {
  object-fit: cover;
  object-position: top center;
  z-index: 0;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .itinerary .itinerary-section .left .travels .travel .image img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel .image img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.itinerary .itinerary-section .left .travels .travel .title {
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel .title {
    font-size: 15px;
  }
}
.itinerary .itinerary-section .left .travels .travel img {
  object-fit: cover;
  position: relative;
  z-index: 0;
  height: 100%;
}
.itinerary .itinerary-section .left .travels .travel .image {
  width: 33%;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel .image {
    width: 100%;
  }
}
.itinerary .itinerary-section .left .travels .travel .title {
  width: 42%;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel .title {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    padding: 0 10px;
  }
}
.itinerary .itinerary-section .left .travels .travel .days {
  width: 25%;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .left .travels .travel .days {
    font-size: 18px;
    padding: 20px 10px;
    width: 100%;
  }
}
.itinerary .itinerary-section .left .button {
  margin-top: 20px;
}
.itinerary .itinerary-section .right-col {
  position: relative;
}
@media (min-width: 1024px) {
  .itinerary .itinerary-section .right-col {
    width: 42%;
  }
}
.itinerary .itinerary-section .right-col img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.itinerary .itinerary-section .right-col::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.itinerary .itinerary-section .right-col .content-itinery {
  padding: 50px;
  position: relative;
  top: 0;
  z-index: 2;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .right-col .content-itinery {
    padding: 20px;
  }
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .right-col .content-itinery {
    padding: 20px;
  }
}
.itinerary .itinerary-section .right-col .top-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}
.itinerary .itinerary-section .right-col .top-title::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #f4924b;
}
.itinerary .itinerary-section .right-col .title {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .right-col .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .itinerary .itinerary-section .right-col .title {
    font-size: 20px;
  }
}
.itinerary .itinerary-section .right-col .paragraph {
  margin-top: 50px;
  line-height: 1.7;
  color: #fff;
}
@media (max-width: 481px) {
  .itinerary .itinerary-section .right-col .paragraph {
    margin-top: 20px;
  }
}
.itinerary .itinerary-section .right-col .time {
  color: #f4924b;
  font-size: 18px;
  font-weight: 700;
}
.itinerary .itinerary-section .right-col .date {
  margin-top: 10px;
  color: #fff;
}
.itinerary .itinerary-section .right-col .button {
  margin-top: 50px;
  color: #fff;
}

.why-travel .why-travel-content span {
  font-weight: bold;
}
.why-travel .why-travel-content .title {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 200;
  color: #28303d;
}
@media (max-width: 481px) {
  .why-travel .why-travel-content .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .why-travel .why-travel-content .title {
    font-size: 20px;
  }
}
.why-travel .why-travel-content .box-section {
  justify-content: space-between;
  margin-top: 40px;
}
.why-travel .why-travel-content .box-section .box {
  width: calc((100% - 40px) / 3);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 1023px) {
  .why-travel .why-travel-content .box-section .box {
    width: calc((100% - 40px) / 2);
  }
}
@media (max-width: 481px) {
  .why-travel .why-travel-content .box-section .box {
    width: 100%;
  }
}
.why-travel .why-travel-content .box-section .box::before {
  content: "";
  position: absolute;
  right: -100px;
  top: -100px;
  background: #f4924b;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  opacity: 0.2;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
}
.why-travel .why-travel-content .box-section .box::after {
  content: "";
  position: absolute;
  right: -100px;
  top: -100px;
  background: #f4924b;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  opacity: 0.3;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
}
.why-travel .why-travel-content .box-section .box:hover::before {
  transform: scale(1);
}
.why-travel .why-travel-content .box-section .box:hover::after {
  transform: scale(1.7);
}
.why-travel .why-travel-content .box-section .box .icon-box {
  width: 75px;
  height: 75px;
  padding: 10px;
  background-color: #FDD3CD;
  border-radius: 10px;
}
.why-travel .why-travel-content .box-section .box .icon-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.why-travel .why-travel-content .box-section .box .content-box {
  padding: 30px 0;
}
.why-travel .why-travel-content .box-section .box .content-box .box-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #28303d;
}
.why-travel .why-travel-content .box-section .box .content-box .paragraph {
  line-height: 1.7;
}

.top-rated .top-rated-safari span {
  font-weight: bold;
}
.top-rated .top-rated-safari .title {
  font-size: 40px;
  margin-bottom: 20px;
  color: #28303d;
}
@media (max-width: 481px) {
  .top-rated .top-rated-safari .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .top-rated .top-rated-safari .title {
    font-size: 20px;
  }
}
.top-rated .top-rated-safari .card-section {
  justify-content: space-between;
}
.top-rated .top-rated-safari .card-section .card {
  width: calc((100% - 20px) / 2);
  margin-bottom: 30px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 791px) {
  .top-rated .top-rated-safari .card-section .card {
    width: calc((100% - 45px) / 4);
  }
}
@media (max-width: 481px) {
  .top-rated .top-rated-safari .card-section .card {
    width: 100%;
  }
}
.top-rated .top-rated-safari .card-section .card .card-content {
  padding: 20px 10px;
  min-height: 200px;
  position: relative;
}
@media (min-width: 791px) {
  .top-rated .top-rated-safari .card-section .card .card-content {
    min-height: 240px;
  }
}
.top-rated .top-rated-safari .card-section .card .card-content .card-title {
  color: #2c462b;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.top-rated .top-rated-safari .card-section .card .card-content .card-title:hover {
  color: #f4924b;
}
.top-rated .top-rated-safari .card-section .card .card-content .park-covered,
.top-rated .top-rated-safari .card-section .card .card-content .days {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.7;
  color: #51565D;
}
.top-rated .top-rated-safari .card-section .card .card-content .card-btn {
  position: absolute;
  bottom: 20px;
}
.top-rated .top-rated-safari .card-section .card .card-content .card-btn a {
  color: #f4924b;
  font-size: 12px;
  padding: 5px 13px;
  border: 1px solid #2c462b;
  border-radius: 80px;
}

.testimonals {
  margin: 50px 0;
}
.testimonals .owl-nav {
  display: none;
}
.testimonals .testimonals-section {
  justify-content: space-between;
}
.testimonals .testimonals-section .image {
  height: 100%;
}
@media (max-width: 768px) {
  .testimonals .testimonals-section .image {
    max-height: 400px;
  }
}
.testimonals .testimonals-section .image img {
  height: 100%;
  object-fit: cover;
}
.testimonals .testimonals-section span {
  font-weight: bold;
}
.testimonals .testimonals-section .left {
  width: 30%;
}
@media (max-width: 768px) {
  .testimonals .testimonals-section .left {
    display: none;
  }
}
.testimonals .testimonals-section .right {
  width: 65%;
}
@media (max-width: 768px) {
  .testimonals .testimonals-section .right {
    width: 100%;
  }
}
.testimonals .testimonals-section .right .top-title {
  margin-top: 30px;
}
.testimonals .testimonals-section .right .title {
  font-size: 40px;
  margin-bottom: 20px;
}
@media (max-width: 481px) {
  .testimonals .testimonals-section .right .title {
    font-size: 30px;
  }
}
@media (max-width: 321px) {
  .testimonals .testimonals-section .right .title {
    font-size: 20px;
  }
}
.testimonals .testimonals-section .right .owl-carousel {
  position: relative;
  padding: 40px 0;
}
.testimonals .testimonals-section .right .owl-carousel .owl-dots {
  position: absolute;
  top: 5px;
  right: 50px;
}
@media (max-width: 790px) {
  .testimonals .testimonals-section .right .owl-carousel .owl-dots {
    top: -17px;
  }
  .testimonals .testimonals-section .right .owl-carousel .owl-dots .owl-dot {
    margin-right: 5px;
  }
}
.testimonals .testimonals-section .right .owl-carousel .owl-dots .active {
  border: 2px solid #f4924b;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}
.testimonals .testimonals-section .right .owl-carousel .owl-dots .active span {
  background: #f4924b;
}
.testimonals .testimonals-section .right .owl-carousel .owl-carousel-item .paragraph {
  line-height: 1.7;
  color: #51565D;
  font-size: 16px;
  font-weight: 500;
}
.testimonals .testimonals-section .right .owl-carousel .owl-carousel-item .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonals .testimonals-section .right .owl-carousel .owl-carousel-item .user img {
  width: 100%;
  height: 100%;
}

footer {
  background: #2c462b;
  position: relative;
  padding: 65px 0;
  z-index: 1;
}
footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}
footer .footer-section {
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
@media (max-width: 1280px) {
  footer .footer-section {
    justify-content: start;
    gap: 10px;
  }
}
@media (max-width: 790px) {
  footer .footer-section {
    display: block;
  }
}
footer .footer-section .col {
  transition: all 0.3s ease-in-out;
  width: calc((100% - 60px) / 5);
  position: relative;
}
@media (max-width: 1280px) {
  footer .footer-section .col {
    width: calc((100% - 20px) / 3);
    margin-bottom: 20px;
  }
}
@media (max-width: 790px) {
  footer .footer-section .col {
    width: 100%;
  }
}
footer .footer-section .col .icon {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 790px) {
  footer .footer-section .col .content {
    display: none;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
  }
}
footer .footer-section .col .title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .footer-section .col .titles {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .footer-section .col span {
  font-weight: 700;
  color: #fff;
}
footer .footer-section .col .address {
  margin: 20px 0 10px 0;
  color: #c9cdcf;
  line-height: 1.7;
}
footer .footer-section .col .email-title {
  cursor: pointer;
}
footer .footer-section .col .email-title .email {
  color: #c9cdcf;
  margin-bottom: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}
footer .footer-section .col .email-title .email:hover {
  color: #f4924b;
}
footer .footer-section .col .phone {
  color: #c9cdcf;
  line-height: 1.7;
}
footer .footer-section .col .follow {
  margin-bottom: 10px;
}
footer .footer-section .col .social-links {
  display: flex;
  gap: 5px;
}
footer .footer-section .col .social-links .facebook a {
  transition: all 0.3s ease-in-out;
}
footer .footer-section .col .social-links .facebook a:hover .fa-brands {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  background: blue;
  border: 2px solid transparent;
  box-shadow: 0px 0px 11px 1px blue;
}
footer .footer-section .col .social-links .fa-brands {
  width: 20px;
  height: 20px;
  color: #fff;
  border: 2px solid white;
  border-radius: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-section .col ul li {
  line-height: 1.7;
}
footer .footer-section .col ul li a {
  color: #c9cdcf;
  transition: all 0.3s ease-in-out;
}
footer .footer-section .col ul li a:hover {
  color: #f4924b;
}
footer .footer-section .toggle .content {
  display: block;
}
footer .copyright {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  z-index: 3;
}
@media (max-width: 790px) {
  footer .copyright {
    justify-content: center;
  }
}
footer .copyright .copyright-text {
  color: #fff;
  text-align: center;
}
footer .copyright ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 790px) {
  footer .copyright ul {
    margin-top: 20px;
  }
}
footer .copyright ul li a {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
footer .copyright ul li a:hover {
  color: #f4924b;
}